:root {
  --main-color: #565656;
  --second-color: #DEDEDE;
  --third-color: #AFAFAF;
  --hero-font-size: calc(34px + (44 - 34) * ((100vw - 500px) / (1920 - 500)));
  --h1-font-size: calc(24px + (34 - 24) * ((100vw - 500px) / (1920 - 500)));
  --btn-font-size: calc(16px + (20 - 16) * ((100vw - 500px) / (1920 - 500)));
  --footer-font-size: calc(12px + (16 - 12) * ((100vw - 500px) / (1920 - 500)));
  --main-padding-left: 16px;
  --task-padding-inline: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-color);
  background-color: var(--second-color);

  display: flex;
  flex-direction: column;
}

header {
  flex-basis: 10vh;

  background-color: var(--main-color);

  color: var(--second-color);
  font-size: var(--hero-font-size);
  font-weight: bold;

  padding-left: var(--main-padding-left);

  box-shadow: 0 3px 10px 3px var(--third-color);
  z-index: 1;

  display: flex;
  align-items: center;

}

main {
  flex: 1;

  display: flex;
}

main > nav {
  background-color: var(--third-color);
  flex-basis: clamp(150px, 13vw, 350px);

  padding-top: var(--main-padding-left);
  padding-left: var(--main-padding-left);
}

#wrapper {
  flex: 1;

  padding-top: var(--main-padding-left);
  padding-left: calc(var(--main-padding-left) * 2);
}

#tasks-wrapper, #project-wrapper {
  margin-top: var(--main-padding-left);

  display: flex;
  flex-direction: column;
}

#add-task {
  background-color: rgba(32, 40, 219, 0.10);

  border-radius: 5px;
  border: none;

  padding-block: 5px;

  font-size: var(--btn-font-size);
  font-weight: bold;
  text-align: left;

  display: flex;
  align-items: center;
}

#add-task:hover {
  background-color: rgba(32, 40, 219, 0.30);
}

#add-task:active {
  background-color: rgba(12, 20, 119, 1);
  color: var(--second-color);
}

#add-task-icon {
  padding-inline: var(--task-padding-inline);
}

#project-wrapper {
  margin-right: var(--h1-font-size);
}

#add-project {
  background-color: rgba(32, 40, 219, 0.10);

  border-radius: 5px;
  border: none;

  padding-block: 5px;

  font-size: var(--btn-font-size);
  text-align: left;

  display: flex;
  align-items: center;
}

#add-project:hover {
  background-color: rgba(32, 40, 219, 0.30);
}

#add-project:active {
  background-color: rgba(12, 20, 119, 1);
  color: var(--second-color);
}

#add-project-icon {
  padding-inline: var(--task-padding-inline);
}

footer {
  background-color: var(--main-color);
  color: var(--second-color);
  font-size: var(--footer-font-size);
  font-weight: lighter;

  flex-basis: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
